.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.checkoutProductImage {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProductData {
    padding-left: 20px;

}

.productName {
    font-size: 17px;
    font-weight: 800;
}

.productRating {
    display: flex;
}

.checkoutProductData button {
    margin-top: 10px;
}
